#floatingCirclesG{
position:relative;
width:128px;
height:128px;
-webkit-transform:scale(0.6);
-moz-transform:scale(0.6)}

.f_circleG{
position:absolute;
background-color:#FFFFFF;
height:23px;
width:23px;
-moz-border-radius:12px;
-webkit-border-radius:12px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-moz-animation-name:f_fadeG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear}

#frotateG_01{
left:0;
top:52px;
-webkit-animation-delay:0.39s;
-moz-animation-delay:0.39s}

#frotateG_02{
left:15px;
top:15px;
-webkit-animation-delay:0.52s;
-moz-animation-delay:0.52s}

#frotateG_03{
left:52px;
top:0;
-webkit-animation-delay:0.65s;
-moz-animation-delay:0.65s}

#frotateG_04{
right:15px;
top:15px;
-webkit-animation-delay:0.78s;
-moz-animation-delay:0.78s}

#frotateG_05{
right:0;
top:52px;
-webkit-animation-delay:0.9099999999999999s;
-moz-animation-delay:0.9099999999999999s}

#frotateG_06{
right:15px;
bottom:15px;
-webkit-animation-delay:1.04s;
-moz-animation-delay:1.04s}

#frotateG_07{
left:52px;
bottom:0;
-webkit-animation-delay:1.1700000000000002s;
-moz-animation-delay:1.1700000000000002s}

#frotateG_08{
left:15px;
bottom:15px;
-webkit-animation-delay:1.3s;
-moz-animation-delay:1.3s}

@-webkit-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-moz-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

